:root {
	--spaceCadet: #2D3142;
	--lightGray: #D8D5DB;
	--lavenderWeb: #EAE8FF;
	--silverMetallic: #ADACB5;
	--babyBlueEyes: #B0D7FF;
}

.body-style {
	background-color: var(--spaceCadet);
	color: var(--lightGray);
}



.gunTypeHeader {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 10px;
}

.gunTypeDiv {
	grid-area: 1 / 1 / 2 / 8;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}


.frameTypeContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: grid-template-rows: repeat(1, auto) repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
	
.frameTypeDiv {
	grid-area: 1 / 2 / 2 / 7;
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	padding: 1%;
}

.weapCell {
	text-align: center;
	font-weight: bold;
	border: 1px solid var(--silverMetallic);
}
.kinWeapDiv {
	grid-area: 2 / 2 / 3 / 3;
}
.staWeapDiv {
	grid-area: 2 / 3 / 3 / 4;
}
.arcWeapDiv {
	grid-area: 2 / 4 / 3 / 5;
}
.solWeapDiv {
	grid-area: 2 / 5 / 3 / 6;
}
.voidWeapDiv {
	grid-area: 2 / 6 / 3 / 7;
}

.listCell {
	border: 1px solid var(--silverMetallic);
	padding: 5%;
}
.kinWeapListDiv {
	grid-area: 3 / 2 / 4 / 3;
}
.staWeapListDiv {
	grid-area: 3 / 3 / 4 / 4;
}
.arcWeapListDiv {
	grid-area: 3 / 4 / 4 / 5;
}
.solWeapListDiv {
	grid-area: 3 / 5 / 4 / 6;
}
.voidWeapListDiv {
	grid-area: 3 / 6 / 4 / 7;
}


ul.bulletPoint {
	list-style-position: outside;
	list-style: none;
	padding-left: 0;
}


.collapsible {
	background-color: var(--babyBlueEyes);
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}


.active, .collapsible:hover {
	font-style: italic;
	font-weight: bold;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: var(--lavenderWeb);
	color: black;
}

